schemas/common/abstract/Link.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
	datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
	<define name="AT_Link">
		<attribute name="lang">
			<text/>
		</attribute>
		<attribute name="href">
			<data type="anyURI"/>
		</attribute>
	</define>
</grammar>
