schemas/common/list/Links.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
	datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
	<define name="LT_Links">
		<element name="links">
			<zeroOrMore>
				<element name="website">
					<ref name="AT_Link"/>
				</element>
			</zeroOrMore>
			<zeroOrMore>
				<element name="wikipedia">
					<ref name="AT_Link"/>
				</element>
			</zeroOrMore>
		</element>
	</define>
</grammar>
