schemas/base/concrete/File.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
	<define name="BCT_File">
		<element name="file">
			<!-- Name of the file -->
			<element name="name">
				<data type="string"/>
			</element>
			<!-- All available mappings -->
			<oneOrMore>
				<choice>
					<ref name="ABT_ContentBinding"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
</grammar>